lib/mtn_ci/billmanageronlinepayment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://billpayment.wsapi.billmanager.mtn.ci/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://billpayment.wsapi.billmanager.mtn.ci/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://billpayment.wsapi.billmanager.mtn.ci/">
     <s:complexType name="GeneralResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RESPONSECODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESPONSEMESSAGE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessOnlinePayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubscriberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="TextMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ImmediateReply" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessOnlinePaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessOnlinePaymentResult" type="tns:GeneralResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneralResponse" nillable="true" type="tns:GeneralResponse" />
    </s:schema>
  </wsdl:types>

  <wsdl:message name="ProcessOnlinePaymentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessOnlinePayment" />
  </wsdl:message>
  <wsdl:message name="ProcessOnlinePaymentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessOnlinePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentHttpPostIn">
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="ServiceCode" type="s:string" />
    <wsdl:part name="SubscriberID" type="s:string" />
    <wsdl:part name="Reference" type="s:string" />
    <wsdl:part name="Balance" type="s:string" />
    <wsdl:part name="TextMessage" type="s:string" />
    <wsdl:part name="ImmediateReply" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:GeneralResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessOnlinePaymentHttpPostIn">
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="ServiceCode" type="s:string" />
    <wsdl:part name="SubscriberID" type="s:string" />
    <wsdl:part name="Reference" type="s:string" />
    <wsdl:part name="Balance" type="s:string" />
    <wsdl:part name="TextMessage" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="ImmediateReply" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessOnlinePaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:GeneralResponse" />
  </wsdl:message>
  <wsdl:portType name="BillPaymentSoap">
    <wsdl:operation name="ProcessOnlinePayment">
      <wsdl:input message="tns:ProcessOnlinePaymentSoapIn" />
      <wsdl:output message="tns:ProcessOnlinePaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BillPaymentHttpPost">
    <wsdl:operation name="ProcessOnlinePayment">
      <wsdl:input message="tns:ProcessOnlinePaymentHttpPostIn" />
      <wsdl:output message="tns:ProcessOnlinePaymentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillPaymentSoap" type="tns:BillPaymentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessOnlinePayment">
      <soap:operation soapAction="http://billpayment.wsapi.billmanager.mtn.ci/ProcessOnlinePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillPaymentSoap12" type="tns:BillPaymentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessOnlinePayment">
      <soap12:operation soapAction="http://billpayment.wsapi.billmanager.mtn.ci/ProcessOnlinePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillPaymentHttpPost" type="tns:BillPaymentHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ProcessOnlinePayment">
      <http:operation location="/ProcessOnlinePayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillPayment">
    <wsdl:port name="BillPaymentSoap" binding="tns:BillPaymentSoap">
      <soap:address location="https://billmanagerpaymenttest.mtn.ci/WSAPIBillmanager/BillPayment.asmx" />
    </wsdl:port>
    <wsdl:port name="BillPaymentSoap12" binding="tns:BillPaymentSoap12">
      <soap12:address location="https://billmanagerpaymenttest.mtn.ci/WSAPIBillmanager/BillPayment.asmx" />
    </wsdl:port>
    <wsdl:port name="BillPaymentHttpPost" binding="tns:BillPaymentHttpPost">
      <http:address location="https://billmanagerpaymenttest.mtn.ci/WSAPIBillmanager/BillPayment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>